# Configurações do Sistema de Leilões

# Intervalo para inserção em lote de lances
BATCH_INSERT_INTERVAL=20s

# Tamanho máximo do lote de inserção
MAX_BATCH_SIZE=4

# Intervalo de duração do leilão (usado na validação de lances)
AUCTION_INTERVAL=20s

# Duração do leilão (tempo até fechamento automático)
AUCTION_DURATION=20s

# Intervalo de verificação para fechamento automático
AUCTION_CHECK_INTERVAL=5s

# Configurações do MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGODB_URL=mongodb://admin:admin@mongodb:27017/auctions?authSource=admin
MONGODB_DB=auctions
